<div class="hero">
  <p class="large brandon">GoToStylist<br>
   is almost live</p>
  <p class="small brandon">Take control<br>of your Schedule and Clientele Base</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>